<template name="admin_fitness_create">
    <div class="container-fluid fluid-limit fitness-admin-program">
    <!-- Modify -->
    {{#if content}}
        {{#each content}}
        <form class="form-group program-modify-form" role="form">
            <h3 class="page-header clearfix">
                운동 프로그램 (수정)
            </h3>

            <div class="text-right clearfix">
                <span class="pull-left">
                    <select name="target">
                        <optgroup label="대상">
                            <option value="">---운동 대상--</option>
                            {{#if isEqual customer_target '초급자용'}}
                                <option value="초급자용" selected>초급자용</option>
                            {{else}}
                                <option value="초급자용">초급자용</option>
                            {{/if}}
                            {{#if isEqual customer_target '중급자용'}}
                                <option value="중급자용" selected>중급자용</option>
                            {{else}}
                                <option value="중급자용">중급자용</option>
                            {{/if}}
                            {{#if isEqual customer_target '고급자용'}}
                                <option value="고급자용" selected>고급자용</option>
                            {{else}}
                                <option value="고급자용">고급자용</option>
                            {{/if}}
                            {{#if isEqual customer_target '운동선수용'}}
                                <option value="운동선수용" selected>운동선수용</option>
                            {{else}}
                                <option value="운동선수용">운동선수용</option>
                            {{/if}}
                            {{#if isEqual customer_target '체대입시용'}}
                                <option value="체대입시용" selected>체대입시용</option>
                            {{else}}
                                <option value="체대입시용">체대입시용</option>
                            {{/if}}
                        </optgroup>
                    </select>
                    <a href="#" class="btn btn-default">대상 추가</a>

                    상태:
                    {{#if isEqual activate false}}
                        비활성화
                    {{else}}
                        활성화
                    {{/if}}

                    {{#if isEqual activate false}}
                        <a href="#" class="btn btn-success btn-sm activate-btn" data-id="{{_id}}">활성화</a>
                    {{else}}
                        <a href="#" class="btn btn-default btn-sm inactivate-btn" data-id="{{_id}}">비활성화</a>
                    {{/if}}

                    <!--<input type="hidden" name="activate" class="activate" value="{{activate}}" />-->
                    <!--<a href="#" class="btn btn-default inactivate-btn">비활성화</a>-->
                </span>
                <a href="#" class="btn btn-danger delete-whole-program-btn" data-id="{{_id}}">삭제</a>
                <a href="/admin/fitness-test/list/10/0" class="btn btn-warning">취소</a>
                <!--<a href="#" class="btn btn-success">미리보기</a>-->
                <button type="submit" class="btn btn-success">저장</button>
            </div>

            <div class="fitness-program">
                <div>
                    <label for="program_title">프로그램 이름</label>
                    <input type="text" name="program_title" id="program_title" class="form-control" value="{{program_title}}" placeholder="한 번에 알아보기 쉽게 프로그램 이름을 등록해주세요." />
                </div>
            </div>
            <input type="hidden" name="id" value="{{_id}}" />
        </form>

        <hr />

        <!-- 일단 자동으로 혹은 수동으로 디비에 저장이 되는 순간 modify모드로 들어간다 -->
        <form class="program-parts" name="program-parts">
            <h3>운동 프로그램을 입력해주세요</h3>

            {{#each program}}
            <div class="program-unit">
                <div class="form-group">
                    <input type="text" name="exercise_title" id="exercise_title" class="form-control" placeholder="운동명을 적어주세요." value="{{exercise_title}}" />
                    <input type="text" name="body_pos" id="body_pos" class="form-control" placeholder="운동부위를 적어주세요." value="{{body_pos}}" />
                    <input type="text" name="image_url" id="image_url" class="form-control" placeholder="수행할 운동을 나타낼 이미지 링크를 넣어주세요." value="{{image_url}}" />
                    <input type="text" name="video_url" id="video_url" class="form-control" placeholder="운동에 대한 참고할만한 youtube ID를 넣어주세요." value="{{video_url}}" />
                    <textarea class="form-control" rows="5" name="description" id="description" placeholder="운동에 대한 보충 설명을 자세히 입력해주세요.">{{description}}</textarea>
                </div>
                <a href="#" class="btn btn-danger btn-ms delete-program-btn">삭제</a>
            </div>
            {{/each}}
            <a href="#" class="btn btn-primary pull-right add-program-btn">+프로그램 추가</a>
        </form>
        <!--
            TODO 1. 수정이 바로 가능하다록 입력폼에 루프를 돌면서 데이터를 입력해준다. 수정 후에 최종 등록 버튼을 누르지 않으면 업데이트 되지 않는다.
            TODO 2. 그럼 내부에 별도의 수정 버튼이 필요가 없어진다. 대신 삭제버튼을 있어야 한다.
        -->
        {{/each}}

        <!-- Create -->
        {{else}}
        <form class="form-group program-form" role="form">
            <h3 class="page-header">
                운동 프로그램 (생성)
            </h3>

            <div class="text-right">
                <span class="pull-left">
                    <select name="target">
                        <optgroup label="대상">
                            <option value="">--프로그램 대상--</option>
                            <option value="초급자용">초급자용</option>
                            <option value="중급자용">중급자용</option>
                            <option value="고급자용">고급자용</option>
                            <option value="운동선수용">운동선수용</option>
                            <option value="체대입시용">체대입시용</option>
                        </optgroup>
                    </select>
                    <a href="#" class="btn btn-default">대상 추가</a>
                </span>
                <a href="/admin/fitness-test/list/10/0" class="btn btn-warning">취소</a>
                <!--<a href="#" class="btn btn-success">미리보기</a>-->
                <button type="submit" class="btn btn-success">저장</button>
                <!-- TODO 저장을 하고 나서 미리보기가 가능하다 -->
            </div>

            <div class="fitness-program">
                <div>
                    <label for="program_title">프로그램 이름</label>
                    <input type="text" name="program_title" id="program_title" class="form-control" value="" placeholder="한 번에 알아보기 쉽게 프로그램 이름을 등록해주세요." />
                </div>
            </div>
        </form>

        <hr />

        <!-- 여기서부터 프로그램을 하나씩 추가하는 영역이다 -->
        <!-- 운동 프로그램의 최소 단위 -->
        <form class="program-parts" name="program-parts">
            <h3>운동 프로그램을 입력해주세요</h3>
            <div class="program-unit">

                    <!--
                        TODO Radio button을 사용하지 않고 처리할 수 있는 방법을 찾아보자.
                        TODO 혹은 각 컴포넌트별로 기능을 정의할 수 있도록 설정한다.
                        TODO 데이터를 가지고 올 경우 name이 중복이 되기 때문에 문제가 있다.
                        TODO 링크방식과 업로드방식을 전화하는 버튼은 토글버튼으로 처리한다.
                        TODO 일단 이미지는 URL로 태깅하는 방식을 사용하자.
                        TODO document.forms[1].body_pos로 접근하면 배열로 반환된다. 이를 적절히 처리하여 디비에 저장하면 될 것이다.
                    -->
                    <!--<p class="pull-right select_method">-->
                        <!--<input type="radio" name="" id="link_image" checked />-->
                        <!--<label for="link_image">링크 방식</label>-->

                        <!--<input type="radio" name="" id="upload_image"/>-->
                        <!--<label for="upload_image">업로드 방식</label>-->
                    <!--</p>-->
                <!--<div class="dropdown image_tag_method">-->
                    <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                        <!--이미지-->
                        <!--<span class="caret"></span>-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
                        <!--<li><a href="#">링크 방식</a></li>-->
                        <!--<li><a href="#">업로드 방식</a></li>-->
                    <!--</ul>-->
                <!--</div>-->


                <!-- 업로드 방식일 경우, 업로드버튼이 나타나게 한다. -->
                <div class="form-group">
                    <input type="text" name="exercise_title" id="exercise_title" class="form-control" placeholder="운동명을 적어주세요." />
                    <input type="text" name="body_pos" id="body_pos" class="form-control" placeholder="운동부위를 적어주세요." />
                    <input type="text" name="image_url" id="image_url" class="form-control" placeholder="수행할 운동을 나타낼 이미지 링크를 넣어주세요." />
                    <input type="text" name="video_url" id="video_url" class="form-control" placeholder="운동에 대한 참고할만한 youtube ID를 넣어주세요." />
                    <textarea class="form-control" rows="5" name="description" id="description" placeholder="운동에 대한 보충 설명을 자세히 입력해주세요."></textarea>
                </div>

                <a href="#" class="btn btn-danger delete-program-btn">삭제</a>
            </div>
            <!-- // 운동 프로그램의 최소 단위(추가 버튼을 통해서 새로 생성해야 한다.) -->

            <a href="#" class="btn btn-default pull-right add-program-btn">+프로그램 추가</a>
        </form>
    {{/if}}
    </div>
</template>

<template name="program_form">
    <div class="program-unit">
        <div class="form-group">
            <input type="text" name="exercise_title" id="exercise_title" class="form-control" placeholder="운동명을 적어주세요." />
            <input type="text" name="body_pos" id="body_pos" class="form-control" placeholder="운동부위를 적어주세요." />
            <input type="text" name="image_url" id="image_url" class="form-control" placeholder="수행할 운동을 나타낼 이미지 링크를 넣어주세요." />
            <input type="text" name="video_url" id="video_url" class="form-control" placeholder="운동에 대한 참고할만한 youtube ID를 넣어주세요." />
            <textarea class="form-control" rows="5" name="description" id="description" placeholder="운동에 대한 보충 설명을 자세히 입력해주세요."></textarea>
        </div>

        <a href="#" class="btn btn-danger delete-program-btn">삭제</a>
    </div>
</template>