<template name="admin_fitness_test">
    <div class="container-fluid fluid-limit fitness-admin">

        <h3 class="clearfix page-header">
            운동 프로그램
            <a href="/admin/fitness-test/create" class="btn btn-primary pull-right">생성하기</a>
        </h3>

        {{#if list}}
        <table class="table table-bordered table-hover text-center table-condensed">
            <thead>
            <tr>
                <th>날짜</th>
                <th>프로그램</th>
                <th>대상</th>
                <th>생성자</th>
                <th>상태</th>
                <th>액션</th>
            </tr>
            </thead>
            <tbody>
            {{#each list}}
            <tr>
                <td>{{formatDate createdAt}}</td>
                <td><a href="/admin/fitness-test/content/{{_id}}">{{program_title}}</a></td>
                <td>{{customer_target}}</td>
                <td>
                    {{creator.username}}
                </td>
                <td>
                    {{#if isEqual activate false}}
                        대기중
                    {{else}}
                        {{#if isEqual activate true}}
                            활성화
                        {{else}}
                            대기중
                        {{/if}}
                    {{/if}}
                </td>
                <td>
                    {{#if isEqual activate false}}
                        <a href="#" class="btn btn-success btn-sm activate-btn" data-id="{{_id}}">활성화</a>
                    {{else}}
                        {{#if isEqual activate true}}
                            <a href="#" class="btn btn-default btn-sm inactivate-btn" data-id="{{_id}}">비활성화</a>
                        {{else}}
                            <a href="#" class="btn btn-success btn-sm activate-btn" data-id="{{_id}}">활성화</a>
                        {{/if}}
                    {{/if}}
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        {{/if}}
    </div>

</template>

