@charset "UTF-8";

.fitness-admin{
  margin-top: 70px;
  margin-bottom: 100px;
}

.fitness-admin .table th{
  text-align: center;
}

.fitness-admin .table td{
  text-align: center;
  vertical-align: middle;
}

.select_method{
  font-size:13px;
}

.program-unit{
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-top: 20px;
}

div.program-unit:nth(0){
  border-top: none;
}

.fitness-admin-program{
  margin-bottom:100px;
}

.add-program-btn{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.fitness-program{
  margin-top:40px;
}

/* admin content */
.notReadOnly{
  background: #ffffff !important;
}