<Template name="content">
    <div class="contentPage">
        {{#each content}}
            <div style="text-align:right">
                {{#if isLogin creator}}
                    <a href="#" class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                        수정
                    </a>
                {{else}}
                    <a href="#" class="btn btn-success">
                        <span class="glyphicon glyphicon-paperclip"></span>
                        수집
                    </a>
                {{/if}}
            </div>

            <hr />
            <img src="{{images}}" alt="{{title}}" class="preview-img" /><br />
            title: {{title}} <br />
            description: {{description}} <br />
            hash_tags: {{hash_tags}} <br />
            createdAt: {{createdAt}} <br />
            creator: {{creator}} <br />

        {{/each}}
    </div>
</Template>