<Template name="content">
    {{#each content}}
    <nav class="navbar">
        <div class="header-wrapper">
            <a href="#" class="backBtn">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </a>

            <h1 class="center-block logo-navbar-middle logo-wrapper">
                <a class="logo" href="/">
                    <span class="glyphicon glyphicon-paperclip clip-logo"></span>Clipplr
                </a>
            </h1>

            <!--<span class="login-signal">{{> loginButtons align="right"}}</span>-->

            {{#if isLogin creator}}
                <a href="/editor/{{_id}}/modify" class="btn btn-info modifyBtn">
                    <span class="glyphicon glyphicon-pencil"></span>
                    수정
                </a>
            {{else}}
                <a href="#" class="btn btn-success collectBtn">
                    <span class="glyphicon glyphicon-paperclip"></span>
                    수집
                </a>
            {{/if}}

            <a href="/editor" class="btn btn-success pull-right writeBtn">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </div>

    </nav>

    <hr />

    <div class="container-fluid fluid-limit">
        <div class="contentPage">

            <img src="{{images}}" alt="{{title}}" class="preview-img" /><br />
            title: {{title}} <br />
            description: {{description}} <br />
            hash_tags: {{hash_tags}} <br />
            createdAt: {{createdAt}} <br />
            creator: {{creator}} <br />


        </div>
    </div>
    {{/each}}
</Template>