<template name="layout">
    <nav class="navbar">
        <div class="header-wrapper">

            <a href="#" class="backBtn">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </a>
            

            <h1 class="center-block logo-navbar-middle logo-wrapper">
                <a class="logo" href="/">
                    <span class="glyphicon glyphicon-paperclip clip-logo"></span>Clipplr
                </a>
            </h1>

            {{#if comparePage '/login'}}
                <span class="login-signal">{{> loginButtons align="right"}}</span>
            {{/if}}

            <a href="/editor" class="btn btn-success pull-right writeBtn">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </div>

    </nav>

    <div class="container-fluid fluid-limit">

        {{> yield}}
    </div>
</template>